body {
  margin: 0;
  padding: 0;
  font-family: sailec, sans-serif;
  overflow-x:hidden; /* hides the extra whitespace problem*/
}

.content {
  background: white;
  padding: 1em; /* This fixed so many of the things. (ul has 1em margins by default, it created unwanted white space) */
/*   border-radius: 0 0 6px 6px; */
}

/* .indent {
text-indent: 10px;
}  Where was this from? It's used nowhere in the html*/

li { 
font-size:15px;
  line-height: 22px;
  padding-bottom:15px;
}

body {
  background: #faf7ee;
}
#timeline {
  position: relative;
  width:100%;
}
#timeline:before {
  content: '';
  display: block;
  position: absolute;
  left: 10%;
  top: 1%;
  margin: 0 0 0 0px;
  width: 3px;
  height: 100%;
  background: #04b499;
}
article {
  margin: 20px 0;
  left: -40%;
  position: relative;
}
article:after {
  content: '';
  display: block;
  clear: both; /* what is the purpose of this?*/
}
.inner {
  /* this gets the award for my most hated css attribute, modifying anything here breaks everything. You have been warned. */
  width: 70%;
/*   float: right; */
  margin: 0px -35% 0 0;
  padding: -5px 0 0 0;
  border-radius: 6px;
}

.dot {
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  top:10px;
  left: 50%;
  margin: 0 0 0 -11px;
  border-radius:100% ;
  text-transform: ;
  background: #1195a1;
}

.highschool {
  display: block;
  width: 100%;
  position: relative;
  right: 30%;
  padding: 10px;
  background: #faf7ee;
}
.hsyear {
  font-size: 1.5em;
  font-weight:600;
  color: #1195a1;
}

.date {
  display: block;
  width: 80px;
  height: 80px;
  padding: 5px 0;
  position: absolute;
  top: 0;
  left: 51%;
  margin: -20px 0 0 -50px;
  border-radius:100%;
  font-weight: bold;
  line-height: 1em; /* THIS WAS SET TO 0 AND WAS INHERTITED BY THE CHILDREN VALUES ;_;!!! */
  background: #eb7925;
  color: white;
/*   border: 20px solid #eb7925; nooooooooooooo */
}

.date-value {
  display:block;
  position: relative;
  top:30%;
  font-size:18px;
  margin: auto;
  text-align: center;
  padding: 0% 0% 0 0;
}

.content-title {
  padding: 16px 20px 10px 15px;
  margin: 0;
  color: white;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align:left;
  border-radius: 6px 6px 0 0;
  position: relative;
}
section#timeline article div.inner h2:after {
  /* WHAT IS THIS?! */
  content: '';
  position: absolute;
  top: 20px;
  right: 398px;
  	width: 10px; 
	  height: 10px;
  -webkit-transform: rotate(-45deg);
}
section#timeline article div.inner p {
  padding: 15px;
  margin: 0;
  font-size: 14px;
  background:white;
  color: #202022;
  border-radius: 0 0 6px 6px;
}
section#timeline article:nth-child(n) div.inner {
  float: right;
}
section#timeline article:nth-child(n) div.inner h2:after {
  left: -5px;
}
section#timeline article:nth-child(n) div.inner h2 {
  background: black;
}
section#timeline article:nth-child(n) div.inner h2:after {
  background: black;
}
section#timeline article:nth-child(n) div.inner h2 {
  background: orange;
}
section#timeline article:nth-child(n) div.inner h2:after {
  background: orange;
}
section#timeline article:nth-child(3) div.inner h2 {
  background: grey;
}
section#timeline article:nth-child(3) div.inner h2:after {
  background: grey;
}
section#timeline article:nth-child(n) div.inner h2 {
  background: brown;
}
section#timeline article:nth-child(n) div.inner h2:after {
  background: brown;
}
section#timeline article:nth-child(n) div.inner h2 {
  background: #1195a1;
}
section#timeline article:nth-child(n) div.inner h2:after {
  background: #1195a1;
}

section#timeline article:nth-child(n) div.inner h2 {
  background: #1195a1;
}
section#timeline article:nth-child(n) div.inner h2:after {
  background: #1195a1;
}

@media (min-width: 576px) {
  .hsyear{
    font-size: 2.5em;
  }
  .content-title{
    font-size: 1.2em;
  }
}